
<a class="btn" href="?mode=CreateNetwork"> Create Network </a>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>CIDR</th>
        <th>Gateway</th>
        <th>Netmask</th>
        <th>Delete</th>
    </tr>
{% for item in object_list %}
<tr>
    <td>{{ item.id }} </td>
    <td> <a href="?mode=EditNetwork&pk={{item.id}}"> {{ item.name }} </a> </td>
    <td> {{ item.cidr }} </td>
    <td> {{item.gateway }}</td>
    <td> {{item.networkmask }}</td>
    <td> <a href="?mode=DeleteNetwork&pk={{item.id}}"> Delete </a></td>
</tr>
{% endfor %}
</table>